{
  "comments": true,
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 9"
          ],
          "node": "6.10"
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}